@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');

*,*:root{
    font-family: 'Rowdies', cursive;
}

html{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: #fff;
    color: #333;
}

h1.title{
    width: 100%;
    text-align: center;
}

.generator{
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    padding: 0.5rem;
}

.color-menu{
    display: flex;
    grid-gap: 5px;
    grid-template-columns: 60% 40%;
}

label.colorcode{
    vertical-align: text-bottom;
}

input.colorcode{}

.btn{
    border: 1px solid #333;
    width: auto;
    padding: .5rem;
    color: #333;
    background: #fff;
}

.btn:hover{
    border: 1px solid #333;
    outline: none;
    background: #333;
    color: #fff;
}